body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #0f172a, #1e293b);
  color: white;
  text-align: center;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.search-box {
  margin: 20px 0;
}

input {
  padding: 12px;
  width: 60%;
  border-radius: 8px;
  border: none;
}

button {
  padding: 12px;
  background: #22c55e;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #16a34a;
}

/* CARD */
.card {
  margin-top: 20px;
  padding: 20px;
  background: #1e293b;
  border-radius: 12px;
  display: none;
}

/* LOADER */
.loader {
  border: 5px solid #ccc;
  border-top: 5px solid #22c55e;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 20px auto;
  animation: spin 1s linear infinite;
}

.hidden {
  display: none;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

/* MAP */
#map {
  height: 350px;
  margin-top: 20px;
  border-radius: 10px;
}

/* RISK COLORS */
.high { color: #ef4444; }
.medium { color: #f59e0b; }
.low { color: #22c55e; }

/* HISTORY */
.history {
  margin-top: 20px;
  text-align: left;
}

.history li {
  cursor: pointer;
  padding: 5px;
}